<div style="margin:0 auto;width: 1300px;">


<div id="left">

<!-- 題目說明編輯 -->
<textarea rows="1" cols="10"   class="apple" contenteditable="true" name="article" placeholder="輸入題目">
</textarea>
<textarea rows="5" cols="53"   class="apple" contenteditable="true" name="article" placeholder="加入說明">
</textarea>

<!-- 文章編輯 -->
<textarea rows="10" cols="53"   class="apple" contenteditable="true" name="article" placeholder="立場文章編輯">
</textarea>

<textarea rows="10" cols="53"   class="apple" contenteditable="true" name="article" placeholder="立場文章編輯">
</textarea>

<textarea rows="10" cols="53"   class="apple" contenteditable="true" name="article" placeholder="立場文章編輯">
</textarea>

<textarea rows="10" cols="53"   class="apple" contenteditable="true" name="article" placeholder="立場文章編輯">
</textarea>

<!-- 評分說明編輯 -->
<br /><button type="button" class="btn btn-primary" >評分說明</button>
<textarea rows="5" cols="53"   class="apple" contenteditable="true" name="article" placeholder="加入說明">
</textarea> 
</div>

<div id="right" >

<div class="record">
<h1> <span class="glyphicon glyphicon-edit"></span>&nbsp;文本編輯區</h1>
</div>

   <div id="slider3_container" style="position: relative; top: 0px; left: 0px; width: 701px; height: 1000px; background: #fff; overflow: hidden; ">
        
        <!-- Slides Container -->
        <div u="slides" style="cursor: move; position: absolute; left: 99px; top: 0px; width: 500px; height: 990px;  border: 1px solid #aaaaaa; border-radius: 10px; -webkit-filter: blur(0px); background-color: #f5f5f5; overflow: hidden;">
        <div>
            <div class="alert"><span class="glyphicon glyphicon-info-sign"></span>
 根據審題的定義閱讀題目與範文內容，再以引導問題做思考，點擊題目可以觀看參考答案，單擊參考答案會標記文章關鍵重點，雙擊取消標記，思考記錄區可以記錄自己的想法
</div>
                  
        <div class="container" >
       	<div>第一題</div>
        <textarea rows="2" cols="50"   class="apple" contenteditable="true" name="title1" placeholder="輸入題目"></textarea><br />
		<textarea rows="3" cols="50"   class="apple" contenteditable="true" name="answer1" placeholder="輸入答案"></textarea><br />
		<div>第二題</div>
        <textarea rows="2" cols="50"   class="apple" contenteditable="true" name="title1" placeholder="輸入題目"></textarea><br />
		<textarea rows="3" cols="50"   class="apple" contenteditable="true" name="answer1" placeholder="輸入答案"></textarea><br />
		<div>第三題</div>
		<textarea rows="2" cols="50"   class="apple" contenteditable="true" name="title1" placeholder="輸入題目"></textarea><br />
		<textarea rows="3" cols="50"   class="apple" contenteditable="true" name="answer1" placeholder="輸入答案"></textarea>
        </div>
                <div u="thumb" >1. 審題</div>
            </div>
            
<!-- 立意 -->
        <div>
        <div class="alert"><span class="glyphicon glyphicon-info-sign"></span>
        立意主要是決定文章的中心思想，也就是主旨
        </div>
        <div class="container">
        <div>第一題</div>
        <textarea rows="2" cols="50"   class="apple" contenteditable="true" name="title1" placeholder="輸入題目"></textarea><br />
		<textarea rows="3" cols="50"   class="apple" contenteditable="true" name="answer1" placeholder="輸入答案"></textarea><br />
		<div>第二題</div>
        <textarea rows="2" cols="50"   class="apple" contenteditable="true" name="title1" placeholder="輸入題目"></textarea><br />
		<textarea rows="3" cols="50"   class="apple" contenteditable="true" name="answer1" placeholder="輸入答案"></textarea><br />
		<div>第三題</div>
		<textarea rows="2" cols="50"   class="apple" contenteditable="true" name="title1" placeholder="輸入題目"></textarea><br />
		<textarea rows="3" cols="50"   class="apple" contenteditable="true" name="answer1" placeholder="輸入答案"></textarea>
        <div>第四題</div>
		<textarea rows="2" cols="50"   class="apple" contenteditable="true" name="title1" placeholder="輸入題目"></textarea><br />
		<textarea rows="3" cols="50"   class="apple" contenteditable="true" name="answer1" placeholder="輸入答案"></textarea>
        </div>
        <div u="thumb">2. 立意</div>
        </div>
            
<!-- 構思取材 -->
            <div>
            
        <div class="alert"><span class="glyphicon glyphicon-info-sign"></span>
        選材時，以分類而言，通常分成：一、作為立意對立面的反方立場材料，二、支持立意主旨的正方立場材料，三、走向支持立意主旨的經歷、轉折材料<br />
        包含: 1.作者自身經歷  2.名言佳句  3.事例典故  4.成語詩詞...等
        </div>
        <div class="container" >
       	<div>第一題</div>
        <textarea rows="2" cols="50"   class="apple" contenteditable="true" name="title1" placeholder="輸入題目"></textarea><br />
		<textarea rows="3" cols="50"   class="apple" contenteditable="true" name="answer1" placeholder="輸入答案"></textarea><br />
		<div>第二題</div>
        <textarea rows="2" cols="50"   class="apple" contenteditable="true" name="title1" placeholder="輸入題目"></textarea><br />
		<textarea rows="3" cols="50"   class="apple" contenteditable="true" name="answer1" placeholder="輸入答案"></textarea><br />
		<div>第三題</div>
		<textarea rows="2" cols="50"   class="apple" contenteditable="true" name="title1" placeholder="輸入題目"></textarea><br />
		<textarea rows="3" cols="50"   class="apple" contenteditable="true" name="answer1" placeholder="輸入答案"></textarea>
        </div>
        <div u="thumb">3. 構思取材</div>
        </div>
            
<!-- 布局 -->
            <div>
            
        <div class="alert"><span class="glyphicon glyphicon-info-sign"></span>
        根據決定好的審題文章走向、立意主旨與構思取材的材料，安排各個段落的內容，組織內容完整、頭尾連貫的文章
        </div>
                <div class="container">
                <div>第一題</div>
        <textarea rows="2" cols="50"   class="apple" contenteditable="true" name="title1" placeholder="輸入題目"></textarea><br />
		<textarea rows="3" cols="50"   class="apple" contenteditable="true" name="answer1" placeholder="輸入答案"></textarea><br />
		</div>
                <div u="thumb">4. 布局</div>
            </div>
        </div>

        <!-- ThumbnailNavigator Skin Begin -->
        <div u="thumbnavigator" class="jssort13" style="position: absolute; width: 100px; height: 150px; left: 0px; top: 0px;">
            <!-- Thumbnail Item Skin Begin -->
            
            <div u="slides" style="cursor: move; top:0px; left:0px; border-top: 1px solid gray;">
                <div u="prototype" class="p" style="POSITION: absolute; WIDTH: 100px; HEIGHT: 30px; TOP: 0; LEFT: 0; padding:0px;">
                    <div class=w><div u="thumbnailtemplate" class="c" style=" WIDTH: 100%; HEIGHT: 100%; position:absolute; TOP: 0; LEFT: 0; line-height:28px; text-align:center;"></div></div>
                </div>
            </div>
            <!-- Thumbnail Item Skin End -->
        </div>
        <!-- ThumbnailNavigator Skin End -->
		

<!--right end-->

</div>
<button type="submit" class="btn btn-success">儲存文本</button>
<div style="clear:both"></div>
</div>
</div>


<script type="text/javascript" src="js/start.js"></script>
 <!-- 觀看答案script -->
<script type="text/javascript">
$(document).ready(function(){   


});

$("#editable").blur(function(){
	var _this = $(this);
	$.post("/saveTopicRecord",{answer:_this.html(),tid:"1"}).done(function(data){
		console.log(data);
	})
});

$("textarea[name='thinkrecord1']").blur(function(){
    var _this = $(this);
    $.post("/saveForumRecord",{answer:_this.val(),fid:"1"}).done(function(data){
        console.log(data);
    })
});

$("textarea[name='thinkrecord2']").blur(function(){
    var _this = $(this);
    $.post("/saveForumRecord",{answer:_this.val(),fid:"2"}).done(function(data){
        console.log(data);
    })
});

$("textarea[name='thinkrecord3']").blur(function(){
    var _this = $(this);
    $.post("/saveForumRecord",{answer:_this.val(),fid:"3"}).done(function(data){
        console.log(data);
    })
});

$("textarea[name='thinkrecord4']").blur(function(){
    var _this = $(this);
    $.post("/saveForumRecord",{answer:_this.val(),fid:"4"}).done(function(data){
        console.log(data);
    })
});

$("textarea[name='thinkrecord5']").blur(function(){
    var _this = $(this);
    $.post("/saveForumRecord",{answer:_this.val(),fid:"5"}).done(function(data){
        console.log(data);
    })
});

$("textarea[name='thinkrecord6']").blur(function(){
    var _this = $(this);
    $.post("/saveForumRecord",{answer:_this.val(),fid:"6"}).done(function(data){
        console.log(data);
    })
});

$("textarea[name='thinkrecord7']").blur(function(){
    var _this = $(this);
    $.post("/saveForumRecord",{answer:_this.val(),fid:"7"}).done(function(data){
        console.log(data);
    })
});

$("textarea[name='thinkrecord8']").blur(function(){
    var _this = $(this);
    $.post("/saveForumRecord",{answer:_this.val(),fid:"8"}).done(function(data){
        console.log(data);
    })
});

$("textarea[name='thinkrecord9']").blur(function(){
    var _this = $(this);
    $.post("/saveForumRecord",{answer:_this.val(),fid:"9"}).done(function(data){
        console.log(data);
    })
});

$("textarea[name='thinkrecord10']").blur(function(){
    var _this = $(this);
    $.post("/saveForumRecord",{answer:_this.val(),fid:"10"}).done(function(data){
        console.log(data);
    })
});

$("textarea[name='thinkrecord11']").blur(function(){
    var _this = $(this);
    $.post("/saveForumRecord",{answer:_this.val(),fid:"11"}).done(function(data){
        console.log(data);
    })
});


</script>