<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
<!-- 字體顏色: #31708f類似註解色    #428bca更亮藍-->
    <div class="container marketing">
    
    <!-- 標語 -->
<div class="hero-unit">
<h1>範文閱讀系統</h1>
<p><span class="text-muted" style="font-weight: bold;">以「電子書」結合「思考模組」設計引導問題討論版來促進寫作時思考的方式
<br />在閱讀範文時，同步呈現寫作時的思考過程與結果</span>
<br />以促進主動學習的方式，建立與強化學生在寫作學習上主動思考的能力，進而提升寫作能力。</p>

</div>

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="col-lg-4">
          <img class="img-circle" src="images/info.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>About</h2>
          <p><span class="text-muted" style="font-weight: bold;">關於 - 本系統研究介紹:</span><br /> 研究與系統介紹、使用的「思考模組」介紹 - 為何使用「思考模組」來幫助閱讀範文與作文寫作教學、如何達到目標 - 提升寫作能力，對系統的學習方式有了概念之後再開始使用，將會更了解為何要這樣進行範文閱讀思考活動!</p>
          <p><a class="btn btn-default" href="writing_about.html" role="button">前往 &raquo;</a></p>
        
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/book1.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Learn</h2>
          <p><span class="text-muted" style="font-weight: bold;">學習 - 閱讀與寫作知識學習:</span><br /> 在開始進行範文閱讀與寫作思考活動之前，先經由本頁面學習關於寫作文的知識 - 了解「寫作步驟」，熟悉之後再寫作文將會更得心應手!</p>
          <p><a class="btn btn-default" href="writing_learn.html" role="button">前往 &raquo;</a></p>
        
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-4">
          <img class="img-circle" src="images/help3.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Help</h2>
          <p><span class="text-muted" style="font-weight: bold;">說明 - 系統說明與使用導覽:</span><br /> 在開始進行範文閱讀與寫作思考活動之前先對整體流程做導覽與操作介面說明，看完說明之後再進入Start開始進行範文閱讀思考活動將會對使用方式更了解!</p>
          <p><a class="btn btn-default" href="writing_help.html" role="button">前往 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->

        <div class="col-lg-4">
          <img class="img-circle" src="images/start1.jpg" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Start</h2>
          <p><span class="text-muted" style="font-weight: bold;">開始進行活動!</span><br /> 看了About、Learn、Help之後，相信對於系統已經有了整體的了解了，開始進行範文閱讀思考活動吧! Start!</p>
          <p><a class="btn btn-primary btn-large" href="writing_article_list.html" role="button">開始Play! &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        
        <div class="col-lg-4">
          <img class="img-circle" src="images/record4.png" alt="Generic placeholder image" style="width: 140px; height: 140px;">
          <h2>Record</h2>
          <p><span class="text-muted" style="font-weight: bold;">歷程 - 思考歷程記錄:</span>
          <br />進行範文閱讀思考活動之後會記錄下自己的思考內容，往後可以在思考歷程記錄頁面再次觀看自己的思考內容，反思自己的想法! </p>
          <p><a class="btn btn-default" href="writing_record_list.html" role="button">前往 &raquo;</a></p>
        </div><!-- /.col-lg-4 -->
        
        
        
      </div><!-- /.row -->
</div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
